.logo {
  display: inline-block;
  padding: $gutter;
  text-decoration: none;
  outline: 0;
}

.header .title {
  color: $light-grey;
  display: block;
  font-size: $extra-small-fs;
  text-transform: uppercase;
  text-align: right;
}

.header {
  border-bottom: 1px solid $border-color;
  height: $header-height;
  position: relative;
  width: 100%;
  text-align: center;
  
  @media (min-width: $device-md) {
    border-right: 1px solid $border-color;
    width: $nav-width;
    position: fixed;
    text-align: left;
    left: 0;
    top: 0;
  }
}

.main-container {
  position: relative;
  margin-top: $gutter * 2;
}

.footer {
  color: lighten($light-grey, 14%);
  font-size: $smaller-fs;
  padding: $gutter $gutter ($gutter * 2);
  text-align: center;
  
  p {
    margin: 0;
    line-height: normal;
  }
}

.container {
  padding-left: $gutter;
  padding-right: $gutter;
  
  @media (min-width: $device-md) {
    padding: 0 ($gutter * 2);
  }
}

.container.home,
.container.page {
  @media (min-width: $device-md) {
    margin-left: $nav-width;
  }
}

section.playbook {
  @media (min-width: $device-lg) {
    margin: 0 auto;
    max-width: 700px;
  }
}

// Home reverse columns
.home {
  background: #E4F0F9;
  display: flex;
  flex-direction: column-reverse;
  
  @media (min-width: $device-md) {
    flex-direction: column;
  }
}

// Next chapter container
.section-footer {
  display: flex;
  justify-content: center;
  
  @media (min-width: $device-md) {
    justify-content: flex-end;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
