.logo {
  display: inline-block;
  padding: 0 ($gutter - .5) 0 0;
}

.header .title {
  color: $light-grey;
  font-size: $extra-small-fs;
  text-transform: uppercase;
}

.main-container {
  margin: 0 auto ($gutter * 3);
  position: relative;
}

.footer {
  color: lighten($light-grey, 14%);
  font-size: $smaller-fs;
  padding: $gutter $gutter ($gutter * 2);
  text-align: center;
  
  p {
    margin: 0;
    line-height: normal;
  }
}

.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: $gutter;
  padding-bottom: $gutter;
}

.container {
  padding-left: $gutter;
  padding-right: $gutter;
  width: 100%;
  
  .nav & {
    padding-left: $gutter;
    padding-right: $gutter;
  }
  
  @media (min-width: $device-md) {
    padding: 0 ($gutter * 2);
  }
}

.main-container,
.header,
.footer {
  @media (min-width: $device-md) {
    margin-left: $nav-aside-width;
  }
}

.nav .header {
  margin-left: 0; 
}

section.playbook {
  @media (min-width: $device-lg) {
    margin: 0 auto;
    max-width: 700px;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

// .container {
//   margin: 0 auto;
//   padding: 0 $gutter;
//   max-width: $device-lg;
// }
// 
// .container:after,
// .row:after {
//   content: "";
//   display: table;
//   clear: both;
// }

.row {
  display: flex;
  flex-flow: row wrap;
  margin-right: -($gutter/2);
  margin-left: -($gutter/2);
  
  &.align-middle {
    align-items: center;
  }
  &.align-bottom {
    align-items: flex-end;
  }
  &.align-left {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
  &.align-right {
    justify-content: flex-end;
  }
}


[class*="col"] {
  width: 100%;
  padding: 0 $gutter/2;
}


@mixin col-size($col) {
  flex-basis: (100% * $col / 12);
  max-width: (100% * $col / 12);
}


@each $col in (1,2,3,4,5,6,7,8,9,10,11,12) {
  .col-xs-#{$col} {
    @include col-size($col);
  }
}

    

@media (min-width: #{$device-sm}) {
  @each $col in (1,2,3,4,5,6,7,8,9,10,11,12) {
    .col-sm-#{$col} {
      @include col-size($col);
    }
  }
}

@media (min-width: #{$device-md}) {
  @each $col in (1,2,3,4,5,6,7,8,9,10,11,12) {
    .col-md-#{$col} {
      @include col-size($col);
    }
  }
}

@media (min-width: #{$device-lg}) {
  @each $col in (1,2,3,4,5,6,7,8,9,10,11,12) {
    .col-lg-#{$col} {
      @include col-size($col);
    }
  }
}