<div class="section-footer">
  <% if next_chapter = current_chapter.next %>
    <%= link_to "<span>Next: #{next_chapter.metadata[:page][:title]}</span>", next_chapter, class: 'button chapter-link' %>
  <% elsif next_section = current_chapter.section.next %>
    <%= link_to "<span>Next Section: #{next_section.metadata[:page][:title]}</span>", next_section.chapters.first, class: 'button chapter-link' %>
  <% end %>
</div>
