.button {
  border: 1px solid $button-color;
  color: $button-color;
  display: inline-block;
  font-size: $buttons-fs;
  font-weight: 800;
  padding: ($gutter - .5) $gutter;
  margin-top: ($gutter - .5);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s;
  
  &:hover {
    background: $button-color;
    color: $white;
  }
}

// Next chapter or section
.chapter-link {
  position: relative;
  
  span {
    padding-right: .5rem;
    
    &::after {
      content: '';
      background: url("../images/icon-arrow-right.svg") no-repeat;
      background-size: 12px auto;
      width: 18px;
      height: 14px;
      position: absolute;
      right: .5rem;
      top: 50%;
      transform: translateY(-5px);
      transition: transform ease-in-out .2s;
    }
  }
  
  &:hover {
    span::after {
      background: url("../images/icon-arrow-right-hover.svg") no-repeat;
      background-size: 14px auto;
      transform: translate(5px, -5px);
    }
  }
}
