//Chapters colors
$about-us:                 #DBEEF8;
$how-we-work:              #FFF9B3;
$development:              #DEFBFB;
$personal-growth:          #D4F8EE;
$people-ops:               #F7E9FB;
$the-offices:              #FBF3E6;
$useful-resources:         #FAEDD5;
$working-on-nebulab:       #FDECFF;
$client-guide:             #F6F5FF;
$becoming-a-mentor:        #DAF2BF;

.chapter-hero {
  text-align: center;
  
  .title {
    display: inline-block;
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      bottom: 7px;
      left: -2px;
      height: 14px;
      width: 103%;
      z-index: -1;
    }
  }
}

.chapter-hero {
  $heroes: (
    about-us: $about-us,
    how-we-work: $how-we-work,
    development: $development,
    personal-growth: $personal-growth,
    people-ops: $people-ops,
    the-offices: $the-offices,
    useful-resources: $useful-resources,
    working-on-nebulab: $working-on-nebulab,
    client-guide: $client-guide,
    becoming-a-mentor: $becoming-a-mentor
  );

  @each $chapter, $color in $heroes {
    &.#{$chapter} {
      .title::after {
        background-color: darken($color, 8%);
      }
    }
  }
}

.chapter-img-wrapper {
  margin: 0 auto;
}

.chapter-img {
  max-width: 100%;
  margin: $gutter 0 ($gutter * 2);
  height: auto;
}
