.main-nav {
  background-color: $white;
  border-right: 1px solid $border-color;
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  z-index: $navbar-z-index;
  
  @media (min-width: $device-md) {
    display: none;
  }
}

// Style the container of navigation
.sidebar  {
  background: $white;
  bottom: 0;
  position: fixed;
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
  visibility: hidden;
  z-index: $nav-z-index;
  // enables momentum scrolling in iOS overflow elements
  -webkit-overflow-scrolling: touch;
  
  ul {
    margin: $gutter;
    padding: 0;
  }
  
  li {
    display: block;
  }
  
  @media (min-width: $device-md) {
    visibility: visible;
    border-right: 1px solid $border-color;
    top: $header-height;
    width: $nav-width;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  
  @media (min-width: $device-md) {
    padding-bottom: $header-height;
  }
}

.nav-list {
  a {
    color: $light-grey;
    display: block;
    font-size: $menu-fs;
    font-weight: 800;
    list-style: none;
    margin: ($gutter + .5) 0;
    position: relative;
    text-decoration: none;
  }
  
  > li > a {
    &:hover {
      color: $black;
    }
    
    &:hover::after,
    &[aria-current]:not([aria-current="false"])::after {
      content: '';
      background: url("../images/icon-chevron-down.svg") no-repeat;
      background-size: 10px auto;
      width: 10px;
      height: 6px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-3px);
    }
    
    &[aria-current]:not([aria-current="false"]) {
      color: $black;
    }
  }
  
  // Submenu
  .submenu {
    padding-left: ($gutter - .5);
    margin: 0;
    
    a {
      color: $black;
      font-size: $submenu-fs;
      
      &:hover {
        color: $primary-color;
      }
    }
  }
}

// Topics anchor links
// .topics-list {
//   font-size: $small-fs;
//   break-inside: avoid;
//   column-count: 1;
//   column-width: auto;
//   column-gap: 0;
// 
//   @media (min-width: $device-lg) {
//     column-count: 3;
//     column-gap: $gutter * 2;
// 
//     a {
//       min-height: 44px;
//     }
//   }
// 
//   li {
//     overflow: hidden;
//   }
// 
//   a {
//     color: $light-grey;
//     display: inline-block;
//     margin: 0 0 .8rem;
// 
//     &:hover {
//       color: $black;
//       text-decoration: underline;
//     }
//   }
// }
