// Style the container of navigation
.sidebar  {
  background: $white;
  bottom: 0;
  top: 0;
  display: none;
  position: fixed;
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
  z-index: $nav-z-index;
  // enables momentum scrolling in iOS overflow elements
  -webkit-overflow-scrolling: touch;
  
  ul {
    margin: $gutter;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    display: block;
  }
  
  @media (max-width: $device-md - 1) {
    .nav {
      .js-show-nav & {
        animation: fadeAndTranslate .6s;
      }
    }
  }
  
  @media (min-width: $device-md) {
    display: block !important;
    border-right: 1px solid $border-color;
    top: $header-height + 70px;
    width: $nav-width;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  padding-right: 80px;
  
  @media (min-width: $device-md) {
    padding-bottom: $header-height + 70px;
    padding-right: 0;
  }
}

.nav-list {
  a {
    color: $light-grey;
    display: block;
    font-size: $menu-fs;
    font-weight: 800;
    list-style: none;
    margin: ($gutter + .5) 0;
    position: relative;
    text-decoration: none;
  }
  
  > li > a {
    &:hover {
      color: $black;
    }
    
    &[aria-current]:not([aria-current="false"]) {
      color: $black;
    }
  }
  
  // Submenu
  .submenu {
    display: none;
    padding-left: ($gutter - .5);
    margin: 0;
    
    a {
      color: $black;
      font-size: $submenu-fs;
      
      &:hover {
        color: $primary-color;
      }
      
      &[aria-current]:not([aria-current="false"]) {
        color: $primary-color;
        
        @media (min-width: $device-md) {
          &::after {
            content: '';
            border-right: 2px solid $primary-color;
            height: 30px;
            position: absolute;
            right: -($gutter);
            top: -.5rem;
          }
        }
      }
    }
  }
  
  .opened .submenu {
    display: block;
  }
}

// Chevron down
.nav-list > li > a,
.nav-list > li > a[aria-current]:not([aria-current="false"]),
.nav-list > li.opened > a {
  &::after {
    content: '';
    background-size: 10px auto;
    width: 10px;
    height: 6px;
    position: absolute;
    right: 0;
    top: 25%;
  }
}

.nav-list > li > a[aria-current]:not([aria-current="false"]),
.nav-list > li.opened > a {
  color: $black;
}

// Display chevron on hover on large devices
// display ever on small devices
.nav-list-item {
  > a,
  &.opened > a,
  > a [aria-current]:not([aria-current="false"]) {
    &::after {
      background: url("../images/icon-chevron-down.svg") no-repeat;
    }
  }
  
  > a {
    @media (min-width: $device-md) {
      &::after {
        background: none;
      }
      
      &:hover {
        &::after {
          background: url("../images/icon-chevron-down.svg") no-repeat;
        }
      }
    }
  }
}

.nav-list-item {
  > a::after {
    transition: all .3s ease-in-out;
  }
  
  &.opened > a {
    &::after {
      transform: rotate(180deg);
    }
  }
}

@keyframes fadeAndTranslate {
    0% {
        opacity: 0;
        transform: translate(0, 40px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
