.button {
  border: 1px solid $button-color;
  color: $button-color;
  display: inline-block;
  font-size: $buttons-fs;
  font-weight: 800;
  padding: ($gutter - .5) $gutter;
  letter-spacing: 2px;
  margin-top: $gutter;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s;
  
  .nav & {
    display: block;
  }
  
  &:hover {
    background: $button-color;
    color: $white;
  }
}

.chapter-link {
  span {
    display: block;
    line-height: normal;
    
    &::after {
      content: '';
      background: url("../images/icon-arrow-right.svg") no-repeat;
      background-size: 14px auto;
      width: 20px;
      height: 16px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-8px);
      transition: transform ease-in-out .2s;
    }
  }
  
  &:hover {
    span::after {
      background: url("../images/icon-arrow-right-hover.svg") no-repeat;
      background-size: 14px auto;
      transform: translate(5px, -8px);
    }
  }
}

// Utilities
.hide-md {
  @media (min-width: $device-md) {
    display: none;
    visibility: hidden;
  }
}

