.button {
  border: 1px solid $n_dark-grey;
  color: $n_dark-grey;
  display: inline-block;
  font-size: $smaller-fs;
  font-weight: 800;
  padding: ($gutter - .5) $gutter;
  letter-spacing: 2px;
  margin-top: $gutter;
  text-align: center;
  text-transform: uppercase;
  transition: all .3s;
  
  .nav & {
    display: block;
  }
  
  &:hover {
    background: $n_dark-grey;
    color: $white;
  }
}

// Utilities
.hide-md {
  @media (min-width: $device-md) {
    display: none;
    visibility: hidden;
  }
}

