.nav-button {
  width: 45px;
  height: 45px;
  position: fixed;
  top: $gutter;
  left: $gutter / 2;
  transition: all .25s;
  padding: 17px 0 0 13px;
  cursor: pointer;
  z-index: 5;
  
  &:hover {
    .nav-button__line {
      background: $primary-color;
      &:last-child {
        width: 20px;
        height: 2px;
      }
    }
  }

  &__line {
    transition: all .25s;
    transition: all .25s;
    margin: 0 0 3px 0;
    width: 20px;
    height: 2px;
    background: $button-color;
    display: block;
    &:last-child {
      width: 14px;
      height: 2px;
    }
  }

  .show-nav & {
    padding: 12px 0 0 13px;
    
    &:hover {
      transform: rotate(0deg);
    }
  
    .nav-button__line {
      transform: rotate(45deg);
      margin: 4px 0 0 0;
      &:first-child {
        position: relative;
        top: 6px;
        transform: rotate(-45deg);
      }
      
      &:last-child {
        display: none;
      }
    }
  }
}
