.main-nav {
  background-color: $white;
  z-index: $navbar-z-index;
  
  @media (min-width: $device-md) {
    border-right: 1px solid $border-color;
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    width: $nav-aside-width;
  }
}

// the overall container
.canvas,
.nav  {
  transition: .5s cubic-bezier(.91,.06,.47,1.05) transform;
}

// show the nav if the class exists and toggle the icon
.js-show-nav .canvas {
  transform: translateX(90%);

  @media (min-width: $device-md) {
    transform: translateX(344px);
  }
}

.js-show-nav .nav {
  transform: translateX(0);
}

// Set fixed header on mobile devices
// header {
//   z-index: $navbar-z-index;
// }
// 
// .js-show-nav {
//   @media (max-width: $device-md - 1) {
//     header {
//       position: fixed;
//       top: 0;
//       width: 100%;
//     }
// 
//     .nav .header {
//       display: none;
//       visibility: hidden;
//     }
// 
//     .nav-list {
//       margin-top: $header-height;
//     }
//   }
// }

// style the side navigation
.nav  {
  background: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  display: block;
  transform: translateX(-100%);
  min-height: 100%;
  overflow-x: hidden;
  width: 90%;
  z-index: $nav-z-index;
  
  @media (min-width: $device-md) {
    margin-left: $nav-aside-width;
    width: $nav-width;
  }
  
  li {
    display: block;
  }
  
  ul a {
    color: $black;
    display: block;
    padding: 5px 10px;
    font-size: $menu-fs;
    font-weight: 600;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  ul a[aria-current]:not([aria-current="false"]) {
    color: $n_cyan;
  }
}