.main-nav {
  background-color: $white;
  z-index: $navbar-z-index;
  
  @media (min-width: $device-lg) {
    border-right: 1px solid $border-color;
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    width: $nav-aside-width;
  }
}

// the overall container
.canvas,
.nav  {
  transition: .5s cubic-bezier(.91,.06,.47,1.05) transform;
}

// show the nav if the class exists and toggle the icon
.canvas.show-nav   {
  transform: translateX(344px);
}

.sidebar.show-nav .nav {
  transform: translateX(0);
}

// style the side navigation
.nav  {
  background: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  display: block;
  padding-top: $gutter;
  transform: translateX(-344px);
  min-height: 100%;
  z-index: $nav-z-index;
  
  @media (min-width: $device-lg) {
    margin-left: $nav-aside-width;
    width: $nav-width;
  }
  
  li {
    display: block;
  }
  
  ul a {
    color: $black;
    display: block;
    padding: 5px 10px;
    font-size: $menu-fs;
    font-weight: 600;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  ul a[aria-current]:not([aria-current="false"]) {
    color: $n_cyan;
  }
}