---
title: Development
playbook-section-topics:
  - Development environment
  - Style guide
  - Using Git and GitHub
  - Documentation
  - Testing
  - Working with Rails
  - Design
---
<div class="chapter-hero development">
  <h1 class="title"><%= current_page.data.title %></h1>
  
  <% topics = playbook_section_topics_files(current_page) %>

  <%= partial 'middleman/layouts/playbook/section/topics_navigation', locals: { topics: topics } %>
</div>
