---
title: The Nebulab playbook
---

<div class="chapter-home">
  <h1 class="title"><%= current_page.data.title %></h1>

  <p>
    This manual aims provide clarity and set out guidelines to be followed in everyday work. Each section contains a series of decisions and reflections that came to light while we were working solidly on various projects.
  </p>
</div>