---
title: Processes
playbook-section-topics:
  - Hiring
  - Travel policy
  - Paid time off and overtime
  - Payroll
  - Workplace health and safety
  - Resignation
---
<div class="chapter-hero processes">
  <div class="topics-container">
    <h1 class="title"><%= current_page.data.title %></h1>
    
    <% topics = playbook_section_topics_files(current_page) %>

    <%= partial 'middleman/layouts/playbook/section/topics_navigation', locals: { topics: topics } %>
  </div>
  
  <div class="chapter-img-wrapper">
    <%= image_tag 'images/processes.svg', :class => 'chapter-img', :width => '284', :height => 'auto' %>
  </div>
</div>
