---
title: Working on Nebulab
playbook-section-topics:
  - Blog
  - Company projects
  - Playbook
---
<div class="chapter-hero working-on-nebulab">
  <div class="topics-container">
    <h1 class="title"><%= current_page.data.title %></h1>
    
    <% topics = playbook_section_topics_files(current_page) %>

    <%= partial 'middleman/layouts/playbook/section/topics_navigation', locals: { topics: topics } %>
  </div>
  
  <div class="chapter-img-wrapper">
    <%= image_tag 'working-on-nebulab.svg', :class => 'chapter-img', :width => '374', :height => 'auto' %>
  </div>
</div>
