<li class="overview-card">
  <% link_to box.url, :class => 'chapter-link overview-wrapper', :name => box.title do %>
    <span class="title">
      <%= box.description %>
    </span>
  <% end %>
</li>
