<li class="overview-card">
  <div class="overview-wrapper <%= box.title %>">
    <% link_to box.url, :class => 'chapter-link' do %>
      <%= image_tag box.image_path %>
      <span class="title">
        <%= box.description %>
      </span>
    <% end %>
  </div>
</li>
