<div class="section-footer">
  <% if next_chapter = current_chapter.next %>
    <%= link_to '<span>Next</span>', next_chapter, class: 'button chapter-link' %>
  <% elsif next_section = current_chapter.section.next %>
    <%= link_to '<span>Next Chapter</span>', next_section.chapters.first, class: 'button chapter-link' %>
  <% end %>
</div>
