<header class="header">
  <div>
    <% link_to '/', :class => 'logo' do %>
      <%= image_tag 'logo.svg', :width => '148px', :height => '45px' %>
      <span class="title">Playbook</span>
    <% end %>
  </div>
</header>
