<div class="playbook-search">
  <input type="search" name="playbook-search" placeholder="Search…" id="js-search">
</div>

<div class="nav-button">
  <span class="nav-button__line"></span>
  <span class="nav-button__line"></span>
  <span class="nav-button__line"></span>
</div>
<div class="sidebar">
  <%= partial 'layouts/shared/navigation' %>
</div>
