@font-face {
    font-family: 'Eina03';
    src: url('../fonts/Eina03/38EBD9_0_0.eot');
    src: url('../fonts/Eina03/38EBD9_0_0.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Eina03/38EBD9_0_0.woff') format('woff'),
            url('../fonts/Eina03/38EBD9_0_0.woff2') format('woff2'),
            url('../fonts/Eina03/38EBD9_0_0.ttf') format('truetype');

    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Eina03';
    src: url('../fonts/Eina03/38EB00_0_0.eot');
    src: url('../fonts/Eina03/38EB00_0_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Eina03/38EB00_0_0.woff') format('woff'),
         url('../fonts/Eina03/38EB00_0_0.woff2') format('woff2'),
         url('../fonts/Eina03/38EB00_0_0.ttf') format('truetype');

    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Eina03';
    src: url('../fonts/Eina03/38EB00_1_0.eot');
    src: url('../fonts/Eina03/38EB00_1_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Eina03/38EB00_1_0.woff') format('woff'),
         url('../fonts/Eina03/38EB00_1_0.woff2') format('woff2'),
         url('../fonts/Eina03/38EB00_1_0.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}