body {
  font-family: $font-family__base;
  font-weight: normal;
  font-size: $small-fs;
  color: $p-color;
  -webkit-font-smoothing: antialiased;

  @media (min-width: $device-md) {
    font-size: $body-fs;
  }
}

p {
  line-height: 2rem;
  margin: 0 0 1rem;
}


a {
  font-family: $font-family__bold;
  color: $link-color;
  text-decoration: none;
  border-bottom: 2px solid $n_black;
  outline: 0;
  transition: all 0.3s;

  &:hover {
    color: $link-hover-color;
    border-color: $link-hover-color;
  }
}


strong {
  font-family: $font-family__bold;
}

em {
  font-family: $font-family__italic;
}

table {
  margin: 0 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family__bold;
  color: $heading-color;
}

h1 {
  font-size: 2.111em; // 38px
  margin: 0 0 2.5rem;
}

h2 {
  font-size: 1.667em; // 30px
  margin: 2rem 0 1.5rem;
}

h3 {
  font-size: 1.444em; // 26px
  margin: 2rem 0 1.5rem;
}

h4 {
  font-size: 1.222em; // 22px
}

h5 {
  font-size: 1.125em; // 18px
}

h6 {
  text-transform: uppercase;
  font-size: .667em; // 12px
  letter-spacing: 2px;

  &.title {
    color: $primary-color;

    &::after {
      background: $primary-color;
      content: '';
      display: block;
      height: 2px;
      width: 50px;
      margin: 30px 0 0;
    }
  }
}

section {
  h1 {
    font-size: 1.887em;
    margin: 3rem 0 2.5rem;

    @media (max-width: $device-sm - 1) {
      font-size: 1.667em;
    }
  }

  h2 {
    font-size: 1.444em;
    margin: 2rem 0 1.5rem;

    @media (max-width: $device-sm - 1) {
      font-size: 1.222em; // 22px
    }
  }

  h3 {
    font-size: 1.222em;
    margin: 2rem 0 1.5rem;

    @media (max-width: $device-sm - 1) {
      font-size: 1.429rem; // 20px
    }
  }
}

.title {
  margin-top: 0;

  @media (max-width: $device-sm - 1) {
    h1 {
      font-size: 2rem; // 28px
    }
  }
}
