//Corporate colors
$n_cyan: #5DBEFD;
$n_yellow: #FEF135;
$n_black: #151515;

//Website colors
$white: #ffffff;
$light-grey: #898989;
$light-blue: #f0f7fc;

$primary-color:       $n_cyan;
$secondary-color:     $n_yellow;
$heading-color:       $n_black;
$p-color:             $n_black;
$border-color:        #F2F2F2;
$section-title-color: $primary-color;
$button-color:        $n_black;
$link-color:          $n_black;
$link-hover-color:    darken($n_cyan, 10%);

//Font families
$font-family__base: 'basis-grotesque-regular', sans-serif;
$font-family__bold: 'basis-grotesque-bold', sans-serif;
$font-family__italic: 'basis-grotesque-italic', sans-serif;

//Font sizes
$body-fs:        18px;
$small-fs:       16px;
$smaller-fs:     14px;
$extra-small-fs: 12px;

$menu-fs:    $small-fs;
$submenu-fs: $smaller-fs;
$buttons-fs: $extra-small-fs;

//Grid
$gutter: 1.5rem;
//
$device-sm:  576px;
$device-md:  768px;
$device-lg:  992px;
$device-xl:  1200px;
$device-xxl: 1900px;

//Nav
$nav-width: 234px;

//header
$header-height: 110px;

//Chapters
$border-radius-lg: 1.5rem;

// z-index
$cookies-z-index:     1001;
$navbar-z-index:      1000;
$nav-z-index:         999;
$header-z-index:      100;
