<header class="header">
  <div class="container">
    <% link_to '/', :class => 'logo' do %>
      <%= image_tag 'images/logo.svg', :width => '148px', :height => '45px' %>
    <% end %>
    <span class="title">_Playbook</span>
  </div>
</header>