<li class="nav-list-item">
  <%#= current_link_to item.title, item.url, aria_current: 'true' %>
  <a href="#"><%= item.title %></a>
  
  <ul class="submenu">
    <li>
      <a href="#" aria-current="true">Chapter topic here</a>
    </li>
    <li>
      <a href="#" aria-current="false">Other chapter topic example</a>
    </li>
  </ul>
</li>
