<li>
  <%= current_link_to item.title, item.url, aria_current: 'true' %>
  
  <ul class="submenu">
    <li>
      <a href="#">Chapter topic here</a>
    </li>
    <li>
      <a href="#">Other chapter topic example</a>
    </li>
  </ul>
</li>
