<div class="cookie-message" style="display:none">
  <p>This site uses cookies. Continuing you accept 
    <% link_to 'https://nebulab.it/privacy-policy', :target => '_blank' do %>
      our terms<% end %>. 
    <a class="button close-button">Close</a>
  </p>
</div>
