<footer class="footer">
  <% data.company_info[:contacts] do |contact| %>
    <p>
      © <%= contact[:company_name] %> • VAT Number: <%= contact[:vat_number] %> • <%= contact[:address] %>
    </p>
  <% end %>
  <p>
    Made with 💙 by <a href="https://nebulab.it" target="_blank" alt="Nebulab.it">nebulab.it</a>
  </p>
</footer>
