<footer class="footer">
  <% data.company_info[:contacts] do |contact| %>
    <p>
      © <%= contact[:company_name] %> • VAT Number: <%= contact[:vat_number] %> • <%= contact[:address] %>
    </p>
  <% end %>
</footer>
