<nav class="nav">
  <div class="header">
    <div class="container">
      <% link_to '/', :class => 'logo' do %>
        <%= image_tag 'images/logo.svg', :width => '148px', :height => '45px' %>
      <% end %>
      <span class="title">_Playbook</span>
    </div>
  </div>
  
  <ul class="nav-list">
    <% data.navigation.items.each do |item| %>
      <%= partial 'middleman/layouts/shared/navigation/item', locals: { item: item } %>
    <% end %>
  </ul>
</nav>
