<nav class="nav">
  <div>
    <ul class="nav-list">
      <% Playbook::Section.all(app).sort_by { |section| section.data.position }.each do |section| %>
        <li class="nav-list-item">
          <a href="javascript:void(0)"><%= section.data.title %></a>
          <ul class="submenu">
            <% section.chapters.each do |chapter| %>
              <li><%= current_link_to chapter.data.title, chapter %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
