.footer {
  color: lighten($light-grey, 14%);
  font-size: $smaller-fs;
  padding: ($gutter * 2) 0 $gutter;
  text-align: center;
  
  p {
    line-height: normal;
  }
  
  p:last-of-type {
    color: $n_black;
    margin: 0;
  }
  
  a {
    font-weight: 800;
    color: $n_black;
  }
}