//Chapters colors
$about-us:                 #DBEEF8;
$company-rituals:          #DEFBFB;
$managing-teams:           #E2FEB8;
$people-ops:               #F7E9FB;
$personal-growth:          #D4F8EE;
$work-fundamentals:        #FFF9B3;
$internal-projects:        #FDECFF;

.chapter-hero {
  text-align: center;

  .title {
    display: inline-block;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 7px;
      left: -2px;
      height: 14px;
      width: 103%;
      z-index: -1;
    }
  }
}

.chapter-hero {
  $heroes: (
    about-us: $about-us,
    company-rituals: $company-rituals,
    managing-teams: $managing-teams,
    people-ops: $people-ops,
    personal-growth: $personal-growth,
    work-fundamentals: $work-fundamentals,
    internal-projects: $internal-projects
  );

  @each $chapter, $color in $heroes {
    &.#{$chapter} {
      .title::after {
        background-color: darken($color, 8%);
      }
    }
  }
}

.chapter-img-wrapper {
  margin: 0 auto;
}

.chapter-img {
  max-width: 100%;
  margin: $gutter 0 ($gutter * 2);
  height: auto;
}
