.local-anchor {
  width: 30px;
  height: 30px;
  margin-left: -30px;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  border: 0 !important;

  &:hover {
    color: #5fbffd;
  }

  .local-anchor-content {
    visibility: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  &:hover {
    .local-anchor-content {
      visibility: visible;
    }
  }
}
