.nav-button {
  background: $n_black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  bottom: 5%;
  right: 5%;
  transition: all .1s;
  padding: 24px 20px;
  position: fixed;
  cursor: pointer;
  z-index: $navbar-z-index;
  
  @media (min-width: $device-md) {
    display: none;
    visibility: hidden;
  }
  
  &:hover {
    .nav-button__line {
      background: $primary-color;
      &:last-child {
        width: 20px;
        height: 2px;
      }
    }
  }

  &__line {
    transition: all .1s;
    transition: all .1s;
    margin: 0 0 3px 0;
    width: 20px;
    height: 2px;
    background: $white;
    display: block;
    &:last-child {
      width: 14px;
      height: 2px;
    }
  }

  .js-show-nav & {
    padding: 20px 20px;
    
    &:hover {
      transform: rotate(0deg);
    }
  
    .nav-button__line {
      transform: rotate(45deg);
      margin: 4px 0 0 0;
      &:first-child {
        position: relative;
        top: 6px;
        transform: rotate(-45deg);
      }
      
      &:last-child {
        display: none;
      }
    }
  }
}
