<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || 'Playbook' %></title>
    <%= stylesheet_link_tag 'home' %>
  </head>
  <body>
    <%= yield %>
    <% data.home.navigation.navigation_items.each do |item| %>
      <%= partial 'middleman/layouts/home/navigation_item', locals: { item: item } %>
    <% end %>
  </body>
</html>
